{% extends 'base.html' %}
{% block body %}
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Sign In</h2>
    <input type="email" class="form-control" name="email" placeholder="Email Address" required autofocus />
    <input type="password" class="form-control" placeholder="Password" required />
    <button class="btn btn-sm btn-primary btn-block" type="submit">Sign In</button>
    <div>Not a user? <a href="{{ url_for('show_register') }}">Register</a> a new account</div>
</form>
{% endblock %}