{% extends 'base.html' %}
{% block body %}
<h3>{{movie.title}}</h3>
<p>The average rating for this movie is {{"%.1f"% average}}</p>
{% if prediction %}
We think you'll rate this movie a {{"%.1f"% prediction}} 
{% endif %}

<a href="/add_rating/{{movie.id}}"><button type="btn btn-sm btn-primary btn-block" type="submit">Add Rating</button></a>
{% if user_rating %}
Your rating for this movie is {{user_rating.rating}}
<a href="/edit_rating/{{user_rating.id}}" class="btn btn-xs btn-primary">Edit</a>
<a href="/delete_rating/{{user_rating.id}}" class="btn btn-xs btn-danger">Delete</a>
{% endif %}
<h4>A similar movie is: <a href="/movie_record/{{similar_movie.id}}">{{similar_movie.title}}</a></h4>
{% endblock %}