{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<form class="form-signin" method="POST">
<label for="autocomplete">Select a movie: </label>
<input id="autocomplete" name="movie_title">
<button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
</form>

<script type="text/javascript">

function get_titles() {
    $.get("/ajax/movie_titles", add_to_autocomplete);
}

function add_to_autocomplete(data) {
    var movies = JSON.parse(data);
    $("#autocomplete" ).autocomplete({
    source: movies
            });
}

function main() {
    get_titles();
}

$(main);
</script>

{% endblock %}


